body{
	font-family: "Crimson Text", serif;
	background-color: #F2FFFC;
	font-size: 20px%;
}
main h1{
	font-size: 60px;
	background-color: #851944;
	color: #FAFFFA;
	text-align: center;
	font-family: "Open Sans Condensed",sans-serif;
	padding: 25px;
	border: 
}
main a{
	color: #851944;
	font-family: "Open Sans Condensed", sans-serif;
}
h2{
	font-size: 40px;
	font-family: "Open Sans Condensed", sans-serif;
}
p{
	text-align: justify;
}
blockquote{
	background-color: #D3DDDA;
	padding: 20px;
	border: 10px solid #C2CCCA;
	width: 250px;
	margin: 0; 
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
}
aside a{
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
	text-decoration: none;
}

footer {
    background-color: #000;
    color: #F2FFFC;
    font-size: 20px;
}

nav a {
    color: #F2FFFC;
    font-family: "Open Sans Condensed", sans-serif;
}
ul {
    color: pink;
}
